.threeColumns {
  display: flex;
  justify-content: space-around;
  padding: 4%;
  background-size: cover;
  background-repeat: no-repeat;

  @include small {
    flex-direction: column;
    background-image: none !important;
    background-color: $color-yellow;
    align-items: center;
    padding: 7%;
  }

  .threeColumns__column {
    width: 25%;
    text-align: center;

    @include small {
      width: 90%;

      &:not(:last-child) {
        margin-bottom: $space-base*2;
      }
    }

    .column__number {
      font-weight: 300;
      font-size: 5.625rem;
      line-height: 1;
      margin-bottom: $space-base*2;

      @include medium {
        font-size: 4rem;
      }
    }

    .column__title {
      font-size: 1.125rem;
      text-transform: uppercase;
      margin-bottom: $space-base*2;
      font-weight: 400;
    }

    .column__description {
      font-weight: 300;
      line-height: 1.6;
    }
  }
}