.aboutUs {
  display: flex;

  @include medium {
    flex-direction: column;
  }

  .about-column {
    width: 50%;

    @include medium {
      width: 100%;
    }
  }

  .aboutUs__aboutText {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10% 8%;
    background-color: $color-bg;

    @include desktop {
      padding: 7% 6%;
    }

    .aboutText__title {
      font-size: 2.375rem;
    }

    .separator {
      margin: $space-base*2 auto $space-base*4;
    }

    .aboutText__description {
      font-size: 1.875rem;
      line-height: 1.8;
      margin-bottom: $space-base*2;

      @include desktop {
        font-size: 1.75rem;
      }


    }

    .aboutText__signature {
      align-self: end;
      width: 40%;

      @include medium {
        width: 20%;
      }
    }
  }

  .aboutUs__aboutImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left -150px bottom;

    @include medium {
      height: 500px;
      background-position: initial;
    }
  }
}