.loggedUser {

  .loggedUser__email {
    font-size: 0.875rem;
    font-weight: 600;
  }

  .loggedUser__giveAway {
    font-size: 0.8125rem;
    font-weight: 600;
  }

  .loggedUser__logOut {
    font-size: 0.75rem;
  }
}