.loginRegisterBox {
  font-size: 0.875rem;
  color: $color-border;
  text-align: end;
  margin-bottom: $space-base;

  @include desktop {
    margin-bottom: 0;
  }

  .register {
    font-size: 0.8125rem;
  }

  a:not(:last-child) {
    margin-right: $space-base;
  }
}