.loginRegisterBox {
  font-size: 0.875rem;
  color: $color-border;
  text-align: end;
  margin-bottom: $space-base;

  .register {
    font-size: 0.8125rem;
  }

  a:not(:last-child) {
    margin-right: $space-base;
  }
}