.menu-toggle {
  display: none;

  @include small {
    display: block;
  }
}

.mainNav {
  text-align: end;
  font-size: 1.125rem;

  @include desktop {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  @include medium {
    justify-content: space-between;
  }

  @include small {
    position: absolute;
    left: 0;
    top: 40px;
    flex-direction: column;
    background-color: $color-yellow;
    display: none;

    @include mobile {
      top: 35px
    }

    &.active {
      display: flex;
    }

    button {
      width: 100%;
      text-align: start;
      border-color: transparent;
    }
  }

  a:not(:last-child) {
    margin-right: $space-base;

    @include desktop {
      margin-right: $space-base*3;
    }

    @include medium {
      margin-right: $space-base;
    }

    //@media (max-width: 1150px) {
    //  margin: 0;
    //}

  }

  @include medium {
    width: 100%;
  }
}