.stepThree__form {

  .stepThree__select {
    margin: 0;
    padding-bottom: $space-base*3;
    position: relative;

    .invalid {
      border-color: red;
    }

    .select__optionsThree {
      background-color: #ececec;
      z-index: 10;
    }
  }

  .form__checkbox {
    margin-top: $space-base;
    margin-bottom: $space-base;
    font-size: 1.5rem;
    position: relative;
    padding-bottom: $space-base;

    .checkbox__title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: $space-base*2;
    }

    .checkbox__options {
      display: flex;
      flex-wrap: wrap;
      width: 50%;

      .options__option {
        border: 1px solid $color-border;
        padding: $space-base $space-base*1.5;
        margin-bottom: $space-base*2;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: stretch;

        &:not(:last-child) {
          margin-right: $space-base*2;

        }

        &.option-yellow {
          background-color: $color-yellow;
        }
      }
    }

  }

  .stepThree__validationText {
    position: absolute;
    bottom: 0;
    font-size: 1.25rem;
    font-weight: 400;
    color: red;
    margin: 0;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }

  .form__organizationName {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 1.5rem;
    margin-bottom: $space-base*7;

    .organizationName__title {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: $space-base*2;
    }

    .organizationName {
      border: 1px solid $color-border;
      padding: 2px;
    }
  }
}
