.helpPage {
  padding: $space-base*2 0;
}

.pageNumbers {
  margin-top: $space-base*4;

  @include medium {
    margin-top: $space-base*3;
  }

  @include small {
    margin-top: $space-base*2;
  }

  button {
    margin: 0 $space-base/2;
  }
}