.step {
  padding: $space-base*4 7%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include small {
    padding: $space-base*3 7%;
  }

  .stepTwo__form {
    margin-bottom: $space-base*10;


  }

  .stepTwo__validationText {
    font-size: 1.25rem;
    font-weight: 400;
    color: red;
    margin: $space-base*2 0;
    visibility: hidden;

    &.visible {
      visibility: visible;
    }
  }

  .stepNumber {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: $space-base*5;

    @include desktop {
      margin-bottom: $space-base*4;
    }

    @include small {
      margin-bottom: $space-base*3;
    }
  }

  .form__title,
  .summary__title {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: $space-base*2;
    width: 70%;

    @include desktop {
      width: 100%;
    }
  }

  .stepTwo__select,
  .stepThree__select {
    display: flex;
    align-items: center;
    margin-top: $space-base*4;

    .form__label {
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 0;
      margin-right: $space-base*2;
    }

    .form__select {
      border: 1px solid $color-border;
      padding: $space-base/2 0 $space-base/2 $space-base;
      width: 18%;
      font-size: 1.5rem;
      font-weight: 300;
      display: flex;
      justify-content: space-between;
      position: relative;
      min-width: fit-content;

      &.invalid {
        border-color: red;
      }

      .select__arrow {
        cursor: pointer;
      }

      .select__options {
        position: absolute;
        border: 1px solid $color-border;
        width: 30%;
        text-align: center;
        right: 0;
        top: 3rem;
        background-color: $color-bg;

        @include medium {
          width: 40%;
        }

        @include small {
          width: 50%;
        }

        @include mobile {
          width: 100%;
        }

        .options_option {
          cursor: pointer;
        }
      }

      .select__optionsThree {
        position: absolute;
        border: 1px solid $color-border;
        width: 100%;
        right: 0;
        top: 3rem;
        padding: 0 $space-base/2;
        background-color: #ececec;

        .options_option {
          cursor: pointer;
        }
      }
    }

    .form__selectThree {
      width: 22%;
    }
  }

  .stepTwo__select {
    @include mobile {
      flex-direction: column;
      align-items: start;

      .form__label {
        margin-bottom: $space-base;
      }
    }
  }

  .form__option {
    margin: $space-base*3 0;
    display: flex;
    align-items: center;

    .form__label {
      font-size: 1.5rem;
      font-weight: 300;
      margin-left: $space-base*2;
      margin-bottom: 0;
    }

    input[type="radio"] {
      appearance: none;
      width: 2rem;
      height: 2rem;
      border: 1px solid $color-border;
      cursor: pointer;
      margin: 0;
      padding: 0;
      flex-shrink: 0;

      &:checked {
        background-color: $color-yellow;
      }
    }
  }

  .buttonBox {

    @include small {
      display: flex;
      justify-content: space-between;
    }

    margin-top: $space-base*2;

    a:not(:last-child) {
      margin-right: 3%;
    }

    .btn-form {
      font-size: 1.5rem;
      font-weight: 300;
      width: 12%;
      padding: 1rem 2rem;
      min-width: fit-content;


    }
  }
}